In [2]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("../../../data/raw/airports.csv")
df

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [5]:
df["CITY"].nunique()

308

In [6]:
df["STATE"].nunique()

54

In [7]:
df["COUNTRY"].nunique()

1

## Conclusion
- from this experiment i noted that we have 54 state that may effect the delay of flight.
- but all the flights are from the same country so we will not use it in the main notebook. 
- also they are mostly from different city so this info wont be usefull to us.

In [12]:
Important_states = df[["IATA_CODE", "STATE"]]
Important_states

    IATA_CODE STATE
0         ABE    PA
1         ABI    TX
2         ABQ    NM
3         ABR    SD
4         ABY    GA
..        ...   ...
317       WRG    AK
318       WYS    MT
319       XNA    AR
320       YAK    AK
321       YUM    AZ

[322 rows x 2 columns]

In [13]:
# save the important states
Important_states.to_csv("../../../data/processed/important_states.csv", index=False)